# ____REMOVE THIS LINE AFTER RENAMING sample.config.env to config.env ____
SESSION_ID " "
MONGO_URI= "mongodb+srv://allytshrts:BMOeqmRgUzicL9YL@clusterhhh.nsyzc7z.mongodb.net/"
OWNER_NUMER= "⃞🌷𝗠𝗥.𝗦𝗜𝗧𝗛𝗨𝗠 𝗘𝗦𝗛𝗔𝗡💙⃝"
THUMB_IMAGE = "https://raw.githubusercontent.com/SecktorBot/Brandimages/main/logos/SocialLogo%201.png"
port = 5000
email = "allytshrts@gmail.com"
AUTO_BIO= "true"
global_url = "https://chat.whatsapp.com/DYPbcnFZRcD18GHaKwJ8lD"
OWNER_NAME = "⃞🌷𝗠𝗥.𝗦𝗜𝗧𝗛𝗨𝗠 𝗘𝗦𝗛𝗔𝗡💙⃝"
AUTO_REACTION = "true"
READ_MESSAGE = "true"
PREFIX = .
WARN_COUNT = 3
DISABLE_PM = false
ANTI_BAD_WORD = "fuck"
LEVEL_UP_MESSAGE= true
WELCOME_MESSAGE =  "*Hi,* @user \n*Welcome in* @gname \n*Member count* : @count th"
THEME= GOJO
WORKTYPE = public
"PACK_AUTHER": "⃞🌷𝗠𝗥.𝗦𝗜𝗧𝗛𝗨𝗠 𝗘𝗦𝗛𝗔𝗡💙⃝"
"PACK_NAME": "⃞🌷𝗠𝗥.𝗦𝗜𝗧𝗛𝗨𝗠 𝗘𝗦𝗛𝗔𝗡💙⃝"
ANTILINK_VALUES = "chat.whatsapp.com"
 
